body{font-weight: 700;
    margin: 0;
    background-image: url("4298fa7a35a28c1525cc9a70443e25d3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
@font-face {
    font-family: "vazir";
    src: url(./fonts/Vazirmatn-Regular.woff2) format("woff2");
    src: url(./fonts/Vazirmatn-Medium.woff2) format("woff2");
    src: url(./fonts/Vazirmatn-Bold.woff2) format("woff2");
    }

.orginal{
    width: 100%;
    height:720px;
    margin-top:15px;
}

main{
    margin: 0 auto;
    width:35%;
    height: 100%;
    border: 1px solid black;
    border-radius: 5px 20px 5px 20px;
    box-shadow: 0 0 20px #5CDB95;
    background-color: white;

}

.top-div{
    height: 15%;
    width: 100%;
    background-color: #00ff73;
    border-radius: 5px 20px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-text{
    font-weight: bold;
    font-size: larger;
    font-family: vazir;
    width: 60%;
    height: 40%;
    border-radius: 20px;
    border: none;
    background-color: #05386b;
    color: white;
    transition: 0.5s;
}
.top-text:hover{
    cursor: pointer;
    background-color: white;
    color: #05386b;
    box-shadow: 0 0 10px #05386b;
}
.main-div{
display: flex;
flex-direction: column;
padding:10px
}

.input-div1{
    height: 70px;
    position: relative;
    width: 99%;
}
.head1{
    font-family: vazir;
    padding-right: 10px;
    padding-bottom: 15px;
}
.input1{
    border:  1px solid black;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    box-shadow: 0 0 5px #05386b;
    transition: 0.5s;
    
}
.input1:focus{
    box-shadow: 0 0 8px #00ff73;
}
.photo1{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 7px;
    top: 2px;
    cursor: pointer;
    
}
#photo2{
    width: 50%px;
    height: 45px;
    position: absolute;
    left: 50px;
    top:-3px;
}
.check-but{
    display: flex;
    justify-content: space-between;
}
.check{
    display: flex;
    padding-right: 10px;
}
.mark{
    border: none; 
    cursor: pointer;   
}
.bottom-text{
    font-family: vazir;
}
.but-div{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    width: 60%;
}
.but1{
    width: 60%;
    height: 40px;
    font-family: vazir;
    font-weight: bold;
    background-color: #00ff73;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 20px;
    transition: 0.5s;
}
.but1:hover{
    box-shadow: 0 0 5px green;
    cursor: pointer;
}
.but2{
    width: 60%;
    height: 40px;
    font-family: vazir;
    font-weight: bold;
    background-color: #fd5757;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 30px;
}
.but2:hover{
    box-shadow: 0 0 5px red;
    cursor: pointer;
}
.tel{
    display: flex;
    justify-content: center;
}
.text{
    font-family: vazir;
    color: #05386b;
    transition: 0.5S;
}
.text:hover{
    font-weight:bolder;
    color: #012548;
}
.link{
    color:#05386b;
}
@media(max-width:760px){
body{
    background-image: none;
}
main{
width: 85%;
}
.tel{
    width: 90%;
    padding-right: 20px;
}
}